.copy{
  width: 1005;
    height: 3vh;
}
.copy p{ 
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
@media (max-width:800px) {
  .copy{
    width: 100%;
    height: auto;
  }
  .copy p{
    font-size: 1em;
  }
}